@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: poppins;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
body header {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #955CB6;
  width: 100%;
}
body header h1 {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: bold;
  padding: 25px;
}
body aside {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #FFF9BF;
  height: 100%;
}
body aside h2 {
  font-size: 32px;
  color: #453751;
  padding: 25px;
  padding-bottom: 0px;
}
body aside form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 25px;
}
body aside form div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
body aside form div label {
  font-size: 24px;
  font-weight: bold;
  color: #7A648C;
}
body aside form div input {
  background-color: #FDDBBB;
  width: 260px;
  height: 31px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  color: #453751;
}
body aside form button {
  background-color: #CB9DF0;
  border: none;
  padding: 5px;
  border-radius: 10px;
  width: 130px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  color: #FFFFFF; /*cambio del color de svg*/
}
body aside form button svg {
  width: 20px;
  height: 20px;
}
body aside form button span {
  font-size: 18px;
  color: #FFFFFF;
}
body main {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}
body main article {
  background-color: #CB9DF0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 170px;
}
body main article h3 {
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  border-bottom: 3px solid #FFFFFF;
  width: 200px;
}
body main article h4 {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
  text-align: center;
}
body main article .pages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5px;
}
body main article .pages h5 {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  color: #FFFFFF;
  justify-self: end;
}
body main article .pages span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
}
body main article .read {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}
body main article .read h5 {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;
  justify-self: end;
}
body main article .read span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
  justify-self: center;
}
body main article .read .upgrade {
  display: inline-flex;
  padding: 2px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: none;
  background-color: #F0C1E1;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body main article .delete {
  display: inline-flex;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background-color: #F0C1E1;
  border: none;
  margin-top: 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */